@font-face {
    font-family: 'rubik';
    src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

.background{
    background-image: url(../images/nature2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body{
    font-family: 'rubik', Arial, sans-serif;
}

.box{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}