body{
    font-family: 'rubik', Arial, sans-serif;
}

.back {
    background-image: url(../images/nature.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
}

.text h1{
    margin-bottom: 0px;
}
.text p{
    margin-top: 5px;
}

@font-face {
    font-family: 'rubik';
    src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
